<li>
  <div class="avatar">
    <a href="<%=show_user_tweets_path(tweet.user.id)%>"><img src="http://www.croop.cl/UI/twitter/images/doug.jpg"></a>
    <div class="hover">
      <div class="icon-twitter"></div>
    </div>
  </div>
  <div class="bubble-container">
    <span><p style="color: #2084c7"><strong><small><a href="<%=show_user_tweets_path(tweet.user.id)%>">@<%= tweet.user.email %></a></small></strong></p>
    <p style="word-wrap: break-word; color: #999999">Posted <%= time_ago_in_words(tweet.created_at) %> ago</p></span>
    <div class="bubble">
      <p style="word-wrap: break-word;"><%= tweet.message %></p>
      <div class="over-bubble">
        <div class="icon-mail-reply action"></div>
        <div class="icon-retweet action"></div>
        <div class="icon-star"></div>
      </div>
    </div>
    <br/>

    <div class="arrow"></div>
  </div>
</li>