<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= user.email%></strong></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="btn-pref btn-group btn-group-justified btn-group-lg col-sm-4" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" id="stars" class="btn btn-primary" onclick="location.href='<%= show_user_path(user.id) %>'" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <div class="hidden-xs">Tweets done: <%= user.tweets.size %></div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="followers" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <div class="hidden-xs">Followers: <%= user.following.size %></div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <div class="hidden-xs">Following: <%= user.followers.size %></div>
          </button>
        </div>
      </div>
    </div>
    <br/>
    <% if current_user.id == user.id %>
        <div class="row">
          <div class="col-md-4" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="/tweets" method="POST">
                  <textarea class="field tweetbox" id="message" name="message"
                            placeholder="Type in your message" rows="5" cols="59"></textarea>
              <button class="btn btn-info" type="submit">Post Tweet</button>
            </form>
          </div>
        </div>
    <% end %>
  </div>
  <% if current_user.id == user.id %>
      <div class="panel-footer"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-info') %> </div>
  <% else %>
      <% if current_user.following? user %>
          <div class="panel-footer"><%= link_to('Unfollow', unfollow_user_path(user.id), :method => :post, class: 'btn btn-error') %> </div>
      <% else %>
          <div class="panel-footer"><%= link_to('Follow', follow_user_path(user.id), :method => :post, class: 'btn btn-info') %> </div>
      <%end%>
  <% end %>
</div>